/*use extra gap between to lines*/
*{
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Poppins', sans-serif;
   

}
.top-banner{
   
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 100vh;
}


.div-decoration1{
    position:absolute;
    width: 100%;
    top: 40%;
    font-size: large;
    color: white;
    text-align: center;
    
}
.h1-size{
    font-size: 250%;
    
}
.link-button{
    text-decoration: none;
   
    padding: 10px 25px;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
    text-align: center;
    background-color: #A93226;
}
.acc{
    font-size: 150%;
}
.div-decoration2{
    
    width: 100%;
    padding: 60px 20px;
    border: 5px solid none;
    text-align: center;
}


.tk100{
    display: inline-block;
    margin:1px;
    border: 1px solid none;
    border-radius: 7px;
    padding: 2%;
    text-align: center;
    justify-content: center;
    background-color: #EAEDED;
    width: 50px;
    height: 20px;
}
.tk500{
    display: inline-block;
    margin: 1px;
    border: 2px solid #E74C3C;
    
    padding: 2%;
    text-align: center;
    justify-content: center;
    background-color: #F6DDCC;
    width: 60px;
    height: 20px;
    color:#E74C3C ;
    border-radius: 7px;
    
}
    
.tk1000{
    display: inline-block;
    margin: 1px;
    border: 1px solid none;
    padding: 2%;
    text-align: center;
    justify-content: center;
    background-color: #EAEDED;
    width: 60px;
    height: 20px;
    border-radius: 7px;
}
.tk2000{
    display: inline-block;
    margin: 1px;
    border: 1px solid none;
    padding: 2%;
    text-align: center;
    justify-content: center;
    background-color: #EAEDED;
    width: 60px;
    height: 20px;
    border-radius: 7px;
}
.tk5000{
    display: inline-block;
    margin: 1px;
    border: 1px solid none;
    padding: 2%;
    text-align: center;
    justify-content: center;
    background-color: #EAEDED;
    width: 60px;
    height: 20px;
    border-radius: 7px;
    
}
.div-decoration3{

    width: 100%;
    padding: 30px 20px;
    
    text-align: center;
}


