
*{
    margin: 0;
    padding: 0;
    
}
body{

    font-family: 'Poppins', sans-serif;

    width: 100%;
    margin: auto;
    background-size: cover;
    background-color: #F2F3F4;
    
}
.top-banner{
   
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


.div-decoration1{
    position:absolute;
    width: 100%;
    top: 40%;
    font-size: large;
    color: white;
    text-align: center;
    
}
.h1-size{
    font-size: 250%;
    
}
.link-button{
    text-decoration: none;
   
    padding: 10px 25px;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
    text-align: center;
    background-color: #A93226;
}
.acc{
    font-size: 150%;
}
.div-decoration2{
    
    width: 100%;
    padding: 60px 20px;
    border: 5px solid none;
    text-align: center;
}


.tk100{
    display: inline-block;
    margin:1px;
    border: 1px solid none;
    border-radius: 7px;
    padding: 2%;
    text-align: center;
    background-color: #EAEDED;
    width: 50px;
    height: 20px;
}
.tk500{
    display: inline-block;
    margin: 1px;
    border: 2px solid #E74C3C;
    padding: 2%;
    text-align: center;
    background-color: #F6DDCC;
    width: 60px;
    height: 20px;
    color:#E74C3C ;
    border-radius: 7px;
    
}

.tk1000{
    display: inline-block;
    margin: 1px;
    border: 1px solid none;
    padding: 2%;
    text-align: center;
    background-color: #EAEDED;
    width: 60px;
    height: 20px;
    border-radius: 7px;
}
.tk2000{
    display: inline-block;
    margin: 1px;
    border: 1px solid none;
    padding: 2%;
    text-align: center;
    background-color: #EAEDED;
    width: 60px;
    height: 20px;
    border-radius: 7px;
}
.tk5000{
    display: inline-block;
    margin: 1px;
    border: 1px solid none;
    padding: 2%;
    text-align: center;
    background-color: #EAEDED;
    width: 60px;
    height: 20px;
    border-radius: 7px;
    
}

.amount{
    text-align: center;

}


hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}    


.donate-nowbtn{

    text-align: center;
}
.div-decoration3{

    width: 100%;
    padding: 30px 20px;
    
    text-align: center;
}
.donate-today-org{
    display: inline-block;
    margin: 5px;
    border: 1px solid none;
    padding: 1%;
    width: 300px;
    height: 200px;
    align-items: left;
    border-radius: 10px;

}
.bg-color1{

    background-color: #D6EAF8;

}
.bg-color2{

    background-color: #FBEEE6;

}
.bg-color3{

    background-color:#FAD7A0 ;

}
.div-decoration3{
    text-align: center;
}
.flexible-container{
    display: flex;
}
.half-width{
   
    height: fit-content;
    width: 50%;
    padding: 4%;
}
.flexibleh1{

    font-size: 250%;
    color: #A93226;
}
.update-border{

    
    border: 10px solid none;
    background-color: #FAE5D3;
    height: 210px;
    width: 650px;
    text-align: center;
    margin-left: 28%;
    
}


.email-sub{
    text-align: center;
    position:center;
    height: 30px;
    padding: 16% 9%;
    


}
.subscibe{
    
    text-decoration: none;
    color: #ffffff;
    border-radius: 0px;
    font-weight: 200;
    position: relative;
    text-align: center;
    background-color: #A93226;
    display: inline;
    margin-left: -5px;
    padding: 7.5px 11px;
    width: 50%;
    
}

.email{
    height: 40px;
    width: 50%;
}
footer{

    background-color: #0F033C;
    
    margin-top: 15px;
}
.footer{
     padding: 40px;
     color: #ffffff;
     text-align: center;
}





